@import 'colors';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
}

.shadow-bg {
    background-color: rgba(0,0,0,.8);
}



nav {
    text-transform: uppercase;
    transition: background-color .6s;
    z-index: 1;
    a, i {
        color: $white;
        
    }
    
    a:hover {
        color: $blue-color;
    }

    .fa-bars {
        padding: 10px;
    }

    .active {
        color: $blue-color
    }
}
header {

    h1 {
        margin-bottom: 10px;
        text-align: center;
        font-weight: inherit;
        font-size: 30px;
    }
    p {
         text-align: center;
         font-style: italic;
         font-size: 15px;
         text-shadow: 3px 3px 3px black;
    }
    .header-image {
        position: relative;
        height: 100vh;
        background-image: url('/Responsive-Website/img/business-5475661_1280.jpg');
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        z-index: 0;
   
    }

    .header-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,.5);
        z-index: -10;
    }

    .header-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        z-index: 5;
        color: $white;
        font-weight: bold;
        
           
           
        
    }
   
    .btn-light {
        text-transform: uppercase;
    }

    

    .fa-chevron-down {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        font-size: 40px;
        color: $white;
    }
}

.blue-text {
    text-shadow: 3px 3px 3px black;
    color: $blue-color
    }

    @media (min-width: 375px) {
        header {
            h1 {
                font-size: 36px;
            }
            p {
                font-size: 16px;
            }
        }
    }

    @media (min-width: 768px) {
        header {
            h1 {
                font-size: 45px;
            }
            p {
                font-size: 20px;
            }
        }
    }        


    @media (min-width: 1200px) {
        header {
            .header-image {
                background-image: url(../img/business-5475661_1920.jpg);
            }
        }
    }


    



